<ng-container *ngIf="pokemon">
  <mat-card class="pokemon-detail">
    <mat-grid-list cols="2">
      <mat-grid-tile> <!-- avatar-->
        <div>
          <img  src="../../../../assets/img/official-artwork/{{pokemon.id}}.png" alt="Artwork of {{pokemon.name}}"/>
          <p>No. {{pokemon.id | number : '3.0-0'}}</p>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-list>

          <mat-list-item>
            {{pokemon.name}}
            <button mat-icon-button (click)="audio.play()">
              <mat-icon>play_circle_outline</mat-icon>
            </button>
            <audio autoplay #audio>
              <source src="assets/audio/{{pokemon.id}}.mp3" type="audio/mpeg" >
              <p>Votre navigateur ne prend pas en charge l'audio HTML. Voici un <a href="assets/audio/{{pokemon.id}}.mp3">lien vers le fichier audio</a> pour le télécharger.</p>
            </audio>
          </mat-list-item>

          <mat-list-item>
            <mat-chip-list aria-label="types">
              <mat-chip *ngFor="let type of pokemon.types">
                {{type}}
              </mat-chip>
            </mat-chip-list>
          </mat-list-item>

          <mat-list-item>
            Taille : {{pokemon.height | number : "1.1-3"}} m
          </mat-list-item>

          <mat-list-item>
            Poids : {{pokemon.weight | number : "1.1-3"}} kg
          </mat-list-item>

        </mat-list>
      </mat-grid-tile>

      <mat-grid-tile colspan=2>
          <p>{{pokemon.description}}</p>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>

  <button mat-raised-button color="primary" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
    Return
  </button>

</ng-container>
